@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Making life easier for Consolidators</p>
    <p>
        We are team of Consolidators.com ,connecting easily Consolidators with online travel agency,why to have stress when Consolidators.com is there
        Register/Login and use our services.
    </p>
</div>
